  @import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Whisper&display=swap');
// Colors
$button-color: #007bff;
$secondary-color: #6c757d;
$success-color: #28a745;
$error-color: #dc3545;

// Font Family
$todo-font: 'Poppins', sans-serif;
$primary-font: 'Roboto', sans-serif;
